<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="
https://cdn.jsdelivr.net/npm/local-time@3.0.2/app/assets/javascripts/local-time.es2017-umd.min.js
"></script>
<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
<link rel="stylesheet" href="/src/css/styles.css" />
<title>Golden Pub</title>
</head>
<body>
    <header>
         <div><a class="button-menu" href="./menu.html">BACK</a></div>
    </header>
          
    <div class="observ">

        <ul>
            
            <li>
        <h4 class="hello">Картопля по-селянськи</h4>
        <img class="img-hero" src="/src/img/Kartoplya-po-selyansky-v-dehovke_siteWebUkr.jpg" alt="Картопля по-селянськи"  />
    <h5>Картопля по-селянськи</h5>
<p> Картопля по-селянськи – страва популярна у всьому світі. Вона смачна, 
    готувати її досить просто, і цей овоч завжди є в наявності вдома або 
    в магазині. Картоплю по-селянськи обожнюють за рум’яну золотаву скоринку, 
    що вкриває кожну скибочку, та за ніжний смак всередині. Готувати просто, 
    а подавати можна як самостійну страву чи як гарнір. Ми вирішили запропонувати 
    картоплю не смажити, але при цьому наситити страву апетитними часником та 
    чебрецем. Вийшло дуже ароматно та смачно. Такій страві найбільш пасують 
    томатні соуси чи на основі вершків.</p>
    <p>250грн</p>
        </li>
    
<li>
        <h4 class="hello">ЛІНИВІ ГОЛУБЦІ</h4>
        <img class="img-hero" src="/src/img/lenyvi-golubci_sitewebukr-1000x600.jpg" alt="Ліниві голубці"  />
    <h5>Ліниві голубці </h5>
<p>Ліниві голубці - можуть бути цілковито самостійною стравою, особливо разом 
    з топінгом зі сметани та сезонної зелені або ж приготуйте до них 
    салат зі свіжих овочів.</p>
    <p>499грн</p>
        </li>

    </ul>

    </div>

    

    <footer class="footer">
        <div class="footer-block"></div>
    </footer>
</body>

</html>