<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="
https://cdn.jsdelivr.net/npm/local-time@3.0.2/app/assets/javascripts/local-time.es2017-umd.min.js
"></script>
<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
       <link
      rel="stylesheet"
      href="/src/css/styles.css"
    />
    <title>Golden Pub</title>
</head>
<body>
    <header>
         <div><a class="button-menu" href="/src/index.html">Повернутись на головну</a></div>
    </header>
          <div class="section">

          
    <div class="observ">
        <h3 class="hello">ПЕРШІ СТРАВИ</h3>
        
        <a class="button-menu" href="pershi.html"><img class="img-hero" src="/src/img/pershi.jpg" alt="ПЕРШІ СТРАВИ"  /></a>
    </div>

    <div class="observ">
        <h3 class="hello">ДРУГІ СТРАВИ</h3>
        <a class="button-menu" href="./drugi.html"><img class="img-hero" src="/src/img/drugi-630x517.jpg" alt="User avatar"  />Переглянути</a>
    </div>

    <div class="observ">
        <h3 class="hello">АЛКОГОЛЬ</h3>
        <button type="button"><a class="button-menu" href="/src/index.html">Обрати</a></button>
    </div>

   <div class="observ">
        <h3 class="hello">СОЛОДКЕ</h3>
        <div><a class="button-menu" href="/src/index.html">Вибрати</a></div>
    </div>
       <div class="observ">
        <h3 class="hello">ПОСЛУГИ</h3>
        <div><a class="button-menu" href="/src/index.html">Подивитись</a></div>
    </div>
</div>
    <footer class="footer">
        <div class="footer-block"></div>
    </footer>
</body>

</html>