<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="
https://cdn.jsdelivr.net/npm/local-time@3.0.2/app/assets/javascripts/local-time.es2017-umd.min.js
"></script>
<link rel="stylesheet" href="node_modules/modern-normalize/modern-normalize.css">
<link rel="stylesheet" href="/src/css/styles.css" />
<title>Golden Pub</title>
</head>
<body>
    <header>
         <div><a class="button-menu" href="./menu.html">Повернутись до розділів мню</a></div>
    </header>
          
    <div class="observ">

        <ul>
            
            <li>
        <h4 class="hello">БОРЩ</h4>
        <img class="img-hero" src="/src/img/pershi.jpg" alt="User avatar"  />
    <h5>Класичний український борщ</h5>
<p>Смак борща - це поглиблений досвід, що відкривається в кожному 
    ковтку. Ця ароматна страва викликає емоції та спогади, змушуючи 
    серце відчувати тепло і вдячність. Кожен ковток борщу - це гармонія 
    смаків, які танцюють на вашому піднебінні і залишають слід 
    незабутнього задоволення.</p>
    <p>500грн</p>
        </li>
    
    </div>
<li>
        <h4 class="hello">УХА</h4>
        <img class="img-hero" src="/src/img/uha.webp" alt="uha"  />
    <h5>Уха</h5>
<p>Уха - це найніжніша симфонія морського смаку, в якій зустрічаються 
    ноти свіжої риби, ароматної зелені та чарівного бульйону, створюючи 
    екстаз для вашого піднебесного смаку. Кожен ковток ухи - це подорож 
    до рибацьких пристаней, де море зливається з небом у гармонійному 
    танці смаку і аромату.</p>
    <p>499грн</p>
        </li>

    </ul>


    

    <footer class="footer">
        <div class="footer-block"></div>
    </footer>
</body>

</html>